<a href="{{link}}" class="block{{wrapper}}">
	<img src="{{img-url}}" alt="Hero Image" class="block{{img}}">

	<h2 class="block{{headline}}">Lorem ipsum dolor sit amet, consectetur adipiscing elit iopa. (76 characters)</h2>

</a>
