<ul class="{{class}}">
    {{#colors}}

    <li class="color--entry">
        <div class="background {{modifier}}">
            <p>{{text}}</p>
           <span>{{name}}</span>
        </div>

        <div class="color">
            <p>Helper: {{color-mixin}}</p>
           <span>Hexadecimal: {{name}}</span>
        </div>
    </li>



    {{/colors}}
</ul>
