     <nav class="navbar navbar-inverse navbar-embossed" role="navigation">
       <div class="navbar-header">
         <!-- <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-01">
           <span class="sr-only">Toggle navigation</span>
         </button> -->
         {{#logo}}
             {{>atoms-logo}}
         {{/logo}}

       </div>
       <div class="collapse navbar-collapse" id="navbar-collapse-01">
            {{#navbarList}}
            {{>atoms-navbarList}}
            {{/navbarList}}

             {{#search}}
                 {{>atoms-search}}
             {{/search}}
       </div><!-- /.navbar-collapse -->
     </nav>
