
    <ul class="nav navbar-nav navbar-left">
        {{#list}}

            <li class="">
                <a href="#">
                    {{page}}
                </a>

            </li>

        {{/list}}
    </ul>
